$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-orange: #db7a4e;
$nav-bg-color: #ffffff;
$nav-selected-color: #db7a4e;
$header-text-color: #335576;
$hero-bg-color: #fefaf5;
$button-bg-color: #db7a4e;
$card-bg-color: #ffffff;
$footer-bg-color: #fefaf5;
$border-color: #db7a4e;
